@import "assets/css/root.css";
@import "assets/css/header.css";
@import "assets/css/main.css";
@import "assets/css/footer.css";

/*__________ the universal selector __________*/
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62%;
    overflow: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

/* __________ media queries __________ */
@media (max-width: 1200px) {
    header {
        padding: 3rem 5%;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 3rem 2rem;
    }

}

@media (max-width: 768px) {
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: var(--border);
        padding: 2rem;
    }
    .header .navbar a {
        display: block;
        margin: 2rem;
        text-align: center;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar .active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn .bi-x {
        transform: rotate(180deg);
    }
    
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}