@import "assets/css/header.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
    color: #000000;
}

a {
    text-decoration: none;
}

header .top .right {
    font-size: .8rem;
}

input, select, textarea {
    background: transparent;
    outline: none;
    border: .5px solid #808080;
    padding: 1rem 1.2rem;
    font-size: .8rem;
}