@import "assets/css/root.css";
@import "assets/css/header.css";
@import "assets/css/main.css";
@import "assets/css/footer.css";

/*__________ the universal selector __________*/
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62%;
    overflow: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

