.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .image {
    flex: 1 1 41rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-black);
}

.about .content h3 {
    font-size: 3rem;
    color: var(--black);

}

.about .content p {
    color: var(--black);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
}

.heading {
    background: url(/assets/img/bottom.jpg) no-repeat;
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    font-size: 10rem;
    color: var(--white);
    text-shadow: var(--text-shadow);
}