header{
    padding: 5rem 10%;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    justify-content: space-between;
}

.header .logo {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--black);
}

.header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--light-black);
}

#menu-btn {
    font-size: 2.5rem;
    color: var(--black);
    display: none;
    cursor: pointer;
}




