.services .heading {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3rem;
    font-size: 6rem;
    
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    padding: .3rem .2rem;
    text-align: center;
    background:	#20a7db;
}

.services .box-container .box:hover {
    background: #ffffff;
    cursor: pointer;
}

.services .box-container .box img {
    max-width: 100%; /* Limit image width to 100% of the box width */
    height: auto; /* Maintain aspect ratio */
}

.services .box-container .box h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
}