.package {
    background: var(--light-white);
}

.package .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.package .container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
}

.package .container .box .image {
    height: 25rem;
    overflow: hidden;
}

.package .container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.package .container .box .content {
    padding: 2rem;
    text-align: center;
}

.package .container .box .content h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--black);
}

.package .container .box .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.package .more {
    text-align: center;
    margin-top: 2rem;
}